@import "../Palette/palette";

@mixin buttonBase($padding:12px) {
    border-style:none;
    padding:$padding;
    font-weight:bold;
    border-radius:4px;
}
.button{
    @include buttonBase();
    &.primary{
        background:$primary_med;
        color:$primary_text;
        border:2px solid $secondary_med;
    }
    &.secondary{
        background:$secondary_med;
        color:white;
    }
}