@import "../Palette/palette";

@mixin buttonBase($padding:12px) {
    border-style:none;
    padding:$padding;
    font-weight:bold;
    border-radius:4px;
}
.button{
    @include buttonBase(12px 24px);
    &.primary{
        background:$primary_med;
        color:$secondary_med;
        font-weight:bold;
    
    }
    &.secondary{
        background:$secondary_med;
        color:white;
    }
}